.bright {
  position: absolute;
  top: 160px;
  left: 0px; 

  @media screen and (max-width: 768px) {
    opacity: 0.25;
  }
}

.neon {
  position: absolute;
  top: 0px;
  right: 0px; 

  @media screen and (max-width: 768px) {
    opacity: 0.25;
  }
}