.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 40px;
  max-width: 1140px;
  width: 100%;
  padding: 20px;

  .container {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;

    @media screen and (max-width: 500px) {
      justify-content: center;
    }
  }
}