.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 85px;
  max-width: 1120px;
  width: 100%;
  padding: 20px;

  .container {
    display: flex;
    width: 100%;
    flex-direction: column;
    row-gap: 70px;
    padding: 0 20px;

    .row {
      display: flex;
      flex-wrap: wrap;
      gap: 80px;
    }

    hr {
      width: 100%;
      height: 1px;
      border: 1px dashed var(--text-color);
      opacity: 0.05;
    }
  }
}
