.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;

  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
    color: var(--heading-title-color);
    margin: 0;
  }

  p {
    font-style: normal;
    font-weight: 510;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--heading-subtitle-color);
    margin: 0;
  }
}