.header {
  position: sticky;
  top: 0;
  z-index: 2;

  display: flex;
  column-gap: 60px;
  padding: 15px 178.5px;
  align-items: center;
  justify-content: space-between;

  background: var(--header-background-color);
  border-bottom: solid 1px var(--header-border-color);
  backdrop-filter: blur(15px);

  .logo {
    display: flex;
    align-items: center;
    cursor: pointer;

    h3 {
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 26px;
      color: var(--logo-color);

      span {
        color: var(--logo-primary-color);
      }
    }
  }

  .links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    max-width: 550px;
    width: 100%;
    height: 19px;
    overflow: hidden;

    a {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      transition: 0.1s;
      color: var(--link-color);

      &:hover {
        color: var(--link-primary-color);
        transition: 0.1s;
      }
    }
  }

  .theme {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 13px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: var(--header-button-background-color);
    }
  }

  .menu {
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    padding: 13px;
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: var(--header-button-background-color);
    }
  }

  @media screen and (max-width: 1070px) {
    padding: 15px 60px;

    .links {
      display: none;
    }

    .menu {
      display: flex;
    }
  }

  @media screen and (max-width: 768px) {
    padding: 15px 30px;
  }

  @media screen and (max-width: 420px) {
    column-gap: 30px;

    .logo {
      .logoImage {
        display: none;
      }
    }
  }
}
