.btn {
  display: flex;
  align-items: center;
  padding: 14px 22px;
  gap: 5px;
  background: linear-gradient(90deg, #D32531 0%, #F2433B 100%);
  border: none;
  color: #fff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.github {
  background: var(--socials-github-color);
  padding: 14px 14px;
}