.separator {
  height: 230px;
  width: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .active {
    height: 230px;
    width: 5px;
    border-radius: 5px;
    background: var(--separator-primary-gradient);
  }

  .default {
    flex: 1;
    width: 1px;
    background-color: var(--separator-color);
  }
}