.group {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  .title {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: var(--text-color);
    opacity: 0.3;
    margin: 0;
  }

  .container {
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
  }
}
