.container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  justify-content: center;
  transition: 0.2s;

  .logo {
    transition: 0.2s;
    border-radius: 8px;
    overflow: hidden;
    width: 60px;
    height: 60px;
  }

  p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: var(--text-color);
    margin: 0;
  }

  &:hover {
    transition: 0.2s;
    opacity: 0.8;

    .logo {
      transition: 0.2s;
      transform: scale(1.2);
    }
  }
}
