.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 5px;
  position: relative;

  .name {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: var(--title-name-color);
    margin: 0;
    position: relative;
    top: 20px;
  }

  .title {
    display: flex;

    h1 {
      font-weight: 700;
      font-size: 96px;
      line-height: 115px;
      color: var(--title-color);
      margin: 0;
    }
  }

  .occupation {
    font-family: ui-rounded, Nunito, -apple-system, BlinkMacSystemFont, Segoe UI,
      Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--title-occupation-color);
    margin: 0;
  }

  .memoji {
    position: absolute;
    top: calc(50% + 10px);
    left: calc(50% - 15px);
    transform: translate(-50%, -50%);
  }

  @media screen and (max-width: 590px) {
    position: relative;
    bottom: 35px;
    align-items: flex-start;

    .title {
      flex-direction: column;

      .dev {
        position: relative;
        bottom: 30px;
      }
    }

    .occupation {
      position: relative;
      bottom: 15px;
    }
    
    .memoji {
      position: relative;
      left: 0;
      top: 40px;
      transform: translateX(-25%);
      order: -1;
    }
  }

  @media screen and (max-width: 420px) {
    .title {
      h1 {
        font-size: 72px;
        line-height: 90px;
      }
    }
  }
}
